@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&family=Markazi+Text:wght@400;500;600;700&display=swap');

html,
body,
#root,
.app {
  font-family: "Karla", "Markazi Text";
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}